*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background: url('gray.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

header{
    align-items: center;
    text-align: center;
    padding: 20px;
}

section{
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    height: 500px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.644);
}

#copy {
    height: 30px;
    width: 30px;
    padding: 5;
}

#copyimg{
    height: 20px;
    width: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1,8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 10px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color:aqua;
}
.footer-low{
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-low p{
    font-size: 14;
    word-spacing: 2px;
    text-transform: capitalize;    
}
.footer-low span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-low span:hover {
    color: aqua;
}
